<div class="container center title">
  <h1>Showing selected article</h1>
</div>

<p>Title: <%= @article.title %></p>

<p>
  Description: <%= @article.description %>
</p>

<div class="col-sm-12">
  <%= link_to 'Back to Articles', articles_path, class: 'btn btn-primary btn-lg' %>
  <%= link_to 'Edit', 
              edit_article_path, class: 'btn btn-warning btn-lg' %>
</div>

