<style>
  header,nav {text-align: center}
  section {padding: 25px}
</style>

<header>
  <h1>This is the About page</h1>
  <%= image_tag 'nature.jpg', alt: 'header' %>
</header>

<div style="clear:both"></div>

<div class="container">
  <div class="row">

  </div>
</div>
