<style>
  header,nav {text-align: center}
  section {padding: 25px}
</style>

<header>
  <h1>This is the About page</h1>
  <%= image_tag 'nature.jpg', alt: 'header' %></header>

<nav>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Alpha Blog', articles_path %>
</nav>

<div style="clear:both"></div>

<div class="container">
  <div class="row">
    <section class="col-sm">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tempus justo massa, vitae molestie erat mollis at. In vulputate tempus sem, vel maximus metus pulvinar sit amet. Praesent nec pretium eros. Cras ornare magna tellus. Nam consequat tempor sem nec facilisis. Mauris a rhoncus libero, vel convallis augue. Aenean commodo, arcu eu interdum cursus, nibh dui auctor risus, sed iaculis ligula nulla a eros. Nulla hendrerit ante laoreet orci luctus bibendum. Aliquam aliquam dapibus aliquet. Quisque ac mattis libero. Maecenas posuere, est et fringilla tincidunt, mi ex placerat nulla, sed vehicula massa velit nec ex.
      </p>
      <p>Etiam elementum gravida tortor eu tincidunt. Integer ornare faucibus massa a placerat. Pellentesque fringilla tellus eros, ut tristique turpis auctor nec. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut suscipit interdum ex quis tristique. In sed fermentum magna, quis pharetra ex. Vestibulum vitae leo ante. Nullam pulvinar mi in blandit convallis. Aliquam sollicitudin dictum risus ac sagittis. Etiam vel augue nec sem feugiat posuere id quis mauris. Vivamus efficitur malesuada bibendum. Praesent vitae imperdiet tellus, at sollicitudin mi. Phasellus a tellus ac tortor aliquet efficitur at nec nibh.
      </p>
    </section>

    <section class="col-sm">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar leo a pretium semper. Proin a accumsan ligula. Sed molestie egestas libero, in ultrices libero facilisis ullamcorper. Ut hendrerit augue et enim molestie, a vehicula purus lobortis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi ut tempus ipsum, nec porttitor risus. Donec ut ipsum vestibulum, imperdiet nunc at, bibendum libero. Praesent nulla quam, scelerisque at orci at, pulvinar eleifend ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed cursus leo eros, vel semper quam pretium id. Maecenas aliquet turpis eu efficitur rutrum. Duis felis enim, porttitor vitae facilisis eget, dictum eu eros. Proin malesuada, lectus quis gravida suscipit, lorem sem lacinia ipsum, ac pharetra ex nibh eget nisl. Ut auctor sem quis viverra bibendum.
      </p>
      <p>Nam non interdum augue. Integer euismod eu elit in imperdiet. Suspendisse pharetra massa diam, quis ultricies elit tincidunt sed. Phasellus posuere ante facilisis, faucibus ligula ut, dictum massa. Sed ac ipsum eget enim consequat aliquet eu eu purus. Morbi ultricies condimentum lectus ut lobortis. Cras sodales sagittis semper. In sed odio risus. Vivamus vitae viverra metus. Mauris dui erat, auctor pulvinar quam blandit, accumsan eleifend erat. Nullam sagittis ligula eget faucibus viverra. Nullam nec metus tortor. Ut massa tortor, cursus id neque sed, vulputate rhoncus nulla. 
      </p>
    </section>
  </div>
</div>


<footer>
Footer
</footer>